/* 
CSS Selector = hva skal vi endre? header
CSS Declaration = blokken hvor koden finnes {}
CSS Rule = hva og hvordan skal ting endres property:value; display:flex; */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list_header{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    list-style-type: none;
  }
  
  .hero,.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .aboutText {
    width: 400px;
  }
  
  .aboutImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
  }
  
  .list_main{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 32px;
  }
